<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mx-auto">

      <div class="question">
        <div class="my-3">
          <h2 class="q-title-s"><%= @question.title %></h2>
        </div>
        <div class="q-body d-flex py-3">
          <div>
            <%= render partial: 'shared/vote', locals:{var: @question, path: question_vote_path(@question)} %>
          </div>
          <div class="d-inline mx-3 w-100">
            <p class="m-0"><%= markdown(@question.content) %></p>
            <div class="q-icons float-right">
              <%= link_to  'edit', edit_question_path(@question), class:"material-icons i" %>
              <%= link_to  'delete', question_path(@question), method: 'delete', data:{confirm: "Eliminar pregunta?"}, class:"material-icons i" %>
            </div>
          </div>
        </div>
        <hr>
        <div class="q-com mb-5">
          <div id="quecom-list" class="w-75 ml-auto">
            <%= render  @question.comments %>
          </div>
          <div class="quecom-form">
            <%= render  "comments/form", commentable: @question %>
          </div>
        </div>
      </div>
      <div class="ans mt-2">
        <h3 class="q-title-s mt-2">Respuestas</h3>
        <hr>
        <div class="ans-list">
          <%= render @question.answers.order(created_at: :asc) %>
        </div>
        <div class="ans-form pt-5">
          <%= render 'answers/form' %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to  "Lista de preguntas", questions_path %>