<div class="container">
  <div class="row">
    <div class="col-lg-10 mt-5 mx-auto">
      <div class="sign-form">
        <h2 align="center">Registrarme</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group w-75 mx-auto my-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
        </div>

        <div class="form-group w-75 mx-auto  my-4">
          
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Contraseña" %>
        </div>

        <div class="form-group w-75 mx-auto my-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmar contraseña" %>
        </div>

        <div class="w-50 mx-auto text-center">
          <%= f.submit "Registrarme", class:'btn btn-dark' %>
        </div>
        <% end %>

        <hr class="w-75 mx-auto">
        <div class="w-75 mx-auto text-center">
          <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Ingresar con #{OmniAuth::Utils.camelize(provider)}", 
                omniauth_authorize_path(resource_name, provider), class:'btn btn-outline-dark' %><br />
          <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>