<div id="answer-<%= answer.id %>" class="mt-5">
  <div class="d-flex py-3">
    <div>
      
      <% if answer.voted_by? current_user %>
        <%= link_to answer_vote_path(answer), method: :delete, class:"counters mx-2 d-flex align-items-center flex-column my-2" do %>

          <span class="counters"><%= answer.votes.count %></span>
          <i class="material-icons md-36">keyboard_arrow_down</i>

        <% end %>
      <% else %>
        <%= link_to answer_vote_path(answer), method: :post, class:"counters mx-2 d-flex align-items-center flex-column" do %>

          <i class="material-icons md-36">keyboard_arrow_up</i>
          <span class="counters"><%= answer.votes.count %></span>

        <% end %>
      <% end %>

    </div>
    <div class="d-inline mx-3 w-100">
      <p class="a-content"><%= markdown(answer.content) %></p>
      <div class="q-icons float-right">
        <%#= link_to  'edit', edit_question_path(@question), class:"material-icons i" %>
        <%= link_to  'delete', [@question, answer], remote: true, method: 'delete', data:{confirm: "Eliminar respuesta?"}, class:"material-icons i" %>
      </div>
    </div>
  </div>
  <div id="anscom-list">
    <%= render  answer.comments %>
  </div>
  <div id="anscom-box" class="pb-2">
    <%= render  "comments/form", commentable: answer %>
  </div>
</div>