
<div id="answer-<%= answer.id %>">
  <div class="q-body d-flex py-3">
    <div class="couters mx-2 d-flex align-items-center flex-column">
      <i class="material-icons md-36">keyboard_arrow_up</i>
      <span class="counters">1</span>
    </div>
    <div class="d-inline mx-3 w-100">
      <p class="a-content"><%= answer.content %></p>
      <div class="q-icons float-right">
        <%#= link_to  'edit', edit_question_path(@question), class:"material-icons i" %>
        <%= link_to  'delete', [@question, answer], remote: true, method: 'delete', data:{confirm: "Eliminar respuesta?"}, class:"material-icons i" %>
      </div>
    </div>
  </div>
  <%= render  answer.comments %>
  <%= render  "comments/form", commentable: @question %>
</div>